

<body>
<div>


<div class="row main">
  <div class="col-md-2">
   <div class="side-panel">
    <div class="flex-column">
      <div class="side-user">
        <img src="https://source.unsplash.com/random/75x75" class="logo" alt="">
        <p>Hello</p>
        <p>E. Nicolas </p>
      <div class="separator"></div>
      </div>
    <div class="side-action">
    <h2>Invoices</h2>
    <h2>Expenses</h2>
     <h2>Contact</h2>
      <h2>Logout </h2>
      </div>
      </div>
       </div>
     </div>

  <div class="col-md-10">
    <div class="main-panel">
      <h2> Your Dashboard </h2> <img src="../assets/images/giotto_logo.png" alt="">
      <div class="separator-large"></div>
        <div class="row">
          <div class="col-md-6 background-offer">
            Name: Status: Subscription: Expire date:
            <div class="separator-large"></div>

            <% current_user.furnitures.each do |furniture| %>
              <div class="card-product d-flex justify-content-between align-items-center">
                <div>
                  <h2><%= furniture.title %></h2>
                </div>
                <div>
                  <p><%= furniture.description %></p>
                </div>
                <div>
                  <p><%= furniture.price %>€</p>
                </div>
                <div>
                  <p><%= furniture.number_items %></p>
                </div>
                <div>
                  <p><%= furniture.furniture_type %></p>
                </div>
                <div>
                  <p><%= furniture.zipcode %></p>
                </div>
                <div>
                <td><%= link_to 'Details', furniture_path(furniture) %></td>
                <td><%= link_to 'Change plan', edit_furniture_path(furniture) %></td>
                </div>
              </div>
            <% end %></div>
        </div>
    </div>
  </div>
</div>












  <h2>Currently renting</h2>


  <div class="container">
    <% current_user.furnitures.each do |furniture| %>
      <div class="card-product d-flex justify-content-between align-items-center">
        <div>
          <h2><%= furniture.title %></h2>
        </div>
        <div>
          <p><%= furniture.description %></p>
        </div>
        <div>
          <p><%= furniture.price %>€</p>
        </div>
        <div>
          <p><%= furniture.number_items %></p>
        </div>
        <div>
          <p><%= furniture.furniture_type %></p>
        </div>
        <div>
          <p><%= furniture.zipcode %></p>
        </div>
        <div>
        <td><%= link_to 'Details', furniture_path(furniture) %></td>
        <td><%= link_to 'Change plan', edit_furniture_path(furniture) %></td>
        </div>
      </div>
    <% end %>
  </div>





<h2> Your booking</h2>
  <div class="container">
    <% current_user.furnitures.each do |furniture| %>
      <div class="card-product d-flex justify-content-between align-items-center">
        <div>
          <h2><%= furniture.title %></h2>
        </div>
        <div>
          <p><%= furniture.description %></p>
        </div>
        <div>
          <p><%= furniture.price %>€</p>
        </div>
        <div>
          <p><%= furniture.number_items %></p>
        </div>
        <div>
          <p><%= furniture.furniture_type %></p>
        </div>
        <div>
          <p><%= furniture.zipcode %></p>
        </div>
        <div class="invisible">
        <td class="invisible"> <h3> Details </h3> </td>
        <td class="invisible"> <h3>Change plan</h3> </td>
        </div>
      </div>
    <% end %>
  </div>
</body>
