

<body>
<div>


<div class="row main">
  <div class="col-md-2">
   <div class="side-panel">
    <div class="flex-column">
      <div class="side-user">
        <img src="https://source.unsplash.com/random/75x75" class="logo" alt="">
        <p>Hello</p>
        <p>E. Nicolas </p>
      <div class="separator"></div>
      </div>
    <div class="side-action">
    <h2>Your bookings</h2>
     <h2>Your offers</h2>
    <h2> <%= link_to 'New offer', new_furniture_path %></h2>
      <h2>Logout </h2>
      </div>
      </div>
       </div>
     </div>

  <div class="col-md-10">
    <div class="main-panel">
      <h2 class="dashboard-title"> Your Dashboard </h2> <img src="../assets/images/giotto_logo.png" alt="">
      <div class="separator-large"></div>
        <div class="row">
          <div class="col-md-9 background-offer-dash">
            <div class=" product-details ">
              <div class="col-md-1"></div>
              <div class="align-items-left align-middle text-center my-auto"><p class="furniture-title item-product">Name:</p></div>
              <div class="align-items-left align-middle text-center my-auto"><p class="furniture-title item-product">Status:</p></div>
              <div class="align-items-left align-middle text-center my-auto"><p class="furniture-title item-product">Price: </p></div>
              <div class="align-items-left align-middle text-center my-auto"><p class="furniture-title item-product">Details</p></div>
            </div>

            <h5>Your offers</h5>
            <div class="separator-dash"></div>
            <% current_user.furnitures.each do |furniture| %>
              <div class="card-product product-details ">
                  <div class="product-picture text-center">
                    <%= cl_image_tag furniture.photo.key, crop: :fill %>
                  </div>
                    <div class="align-items-left align-middle text-center my-auto"  >
                      <h3 class="furniture-title item-product"><%= furniture.title %></h3>
                    </div>
                    <div class="item-product text-center my-auto"  >
                      <%= link_to "Rented", furniture_path(furniture), method: :show, class: "btn btn-success" %>
                    </div>
                    <div class="item-product text-center my-auto" >
                      <p class=""><%= furniture.price %>€ / month</p>
                    </div>
                    <div class="item-product text-center my-auto" >
                    <td><%= link_to 'Details', furniture_path(furniture) %></td>
                    </div>
              </div>
            <% end %>


            <h5>Your bookings</h5>
            <div class="separator-dash"></div>
            <% current_user.bookings.map{|b| b.furniture }.each do |furniture| %>
              <div class="card-product product-details ">
                  <div class="product-picture text-center">
                    <%= cl_image_tag furniture.photo.key, crop: :fill %>
                  </div>
                    <div class="align-items-left align-middle text-center my-auto"  >
                      <h3 class="furniture-title item-product"><%= furniture.title %></h3>
                    </div>
                    <div class="item-product text-center my-auto"  >
                      <%= link_to "Rented", furniture_path(furniture), method: :show, class: "btn btn-success" %>
                    </div>
                    <div class="item-product text-center my-auto" >
                      <p class=""><%= furniture.price %>€ / month</p>
                    </div>
                    <div class="item-product text-center my-auto" >
                    <td><%= link_to 'Details', furniture_path(furniture) %></td>
                    </div>
              </div>
            <% end %>

                    </div>
              </div>
          </div>

        </div>
    </div>
  </div>
</div>
</body>
