<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.smow.com/pics/vt-142-001/vitra-homedesk-09_zoom.jpg');">
  <div class ="container">
    <div class= "text-center">
      <h1> Explore the furniture! </h1>
      <p> Find the perfect second-hand home office set </p>
    </div>

  </div>
</div>
    <div class="container-filter">
      <div class="card-product-small justify-content-left align-items-center">
         <div class="filter">
      <%= link_to furnitures_path(category: "") do %>
        <span> All </span>
      <% end %>
    </div>

    <div class="filter">
      <%= link_to furnitures_path(category: "Chair") do %>
        <span> Chair </span>
      <% end %>
    </div>

    <div class="filter">
      <%= link_to furnitures_path(category: "Desk") do %>
        <span> Desk </span>
      <% end %>
    </div>

    <div class="filter">
      <%= link_to furnitures_path(category: "Lamp") do %>
        <span> Lamp </span>
      <% end %>
    </div>
      </div>
    </div>

    <div class="content-offers">
      <% current_user.furnitures.each do |furniture| %>
        <div class="card-index col-md-3 ">
          <img class="card-img-top" src="/assets/img_test.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"> <%= furniture.title %></h5>
            <p class="card-text"><%= furniture.price %>€ / month</p>
            <a href="#" class="btn btn-primary">Rent now</a>
          </div>
        </div>
       <% end %>
      </div>


  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<div>
