<!DOCTYPE html>
<html>
  <head>
    <title>Giotto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-dark justify-content-between">
      <a class="navbar-brand"> </a>
      <div class = "container">
        <%= link_to root_path do %>
          <%= image_tag "logowhite.png", class:"logowhite align-content-center" %> 
        <%end%>
        <h1> <%= link_to "Post a furniture", new_furniture_path %> </h1>
        <h1> <%= link_to "Giotto Dashboard", dashboard_path %> </h1>
        <h1> <%= link_to "Explore the furnitures", furnitures_path %> </h1>
        <h1> <%= link_to "Log-in", new_user_session_path %> </h1>
      </div>
    </nav>

    <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </body>
</html>
